{{>header}}

<section class="container my-5">
    <h3 class="text-primary">Add New User</h3>

<form method="POST">
    <div class="mb-3">
        <input name="balance" placeholder="balance" class="form-control" value={{y.balance}}>
    </div>
    <div class="mb-3">
        <input name="deposit" placeholder="deposit" class="form-control" >
    </div>
   

    <div class="mb-3">
        <input type="submit" value="deposit money" class="btn btn-primary">
    </div>
</form>

</section>
{{>footer}}