{{>header}}
{{>nav}}
<section class="container my-5">
    <h2 class="text-primary">Add New Task</h2>
<form method="POST">
    <div class="mb-3">
        <input name="name" placeholder="name" class="form-control">
    </div>
    <div class="mb-3">
        <input name="title" placeholder="title" class="form-control">
    </div>
        <div class="mb-3">
        <input name="content" placeholder="content" class="form-control">
    </div>
        <div class="mb-3">
        <input type="submit" value="Add Task" class="form-control btn btn-primary">
    </div>
</form>
</section>


{{>footer}}