{{>header}}
{{>nav}}
<section class="container my-5">
    
    <table class="table table-stripped">
        <thead>
            <tr>
                <th>id</th>
                <th>name</th>
                <th>title</th>
                <th>content</th>
                
            </tr>
        </thead>
        <tbody>
         
    
        
            <tr>
                <td class="text-primary">{{allusers._id}}</td>
                <td class="text-danger">{{allusers.name}}</td>
                <td class="text-danger">{{allusers.title}}</td>
                <td class="text-danger">{{allusers.content}}</td>
               
            </tr>

  
        </tbody>
    </table>
</section>